:root{
    --main-white: #FDFEFE;
    --second-yellow: #FFDE81;
    --main--yellow: #FFD357;
    --main-blue: #0B5F96;
    --second-blue: #468BB7;
    --links-color: #81ecec;
    --main-black: #1E2025;
    --second-black: #424551;
    --main-title-font: "Nunito", sans-serif;
    --paragraph-font: "Quicksand", sans-serif;
    --main-title-size: 18px;
    --second-title: 14px;
    --paragraph-size: 12px;
    --span-size: 10px;
  }

  .dropdown-active{
    display: flex;
    position: absolute;
    top:35px;
    right: 30px;
}

.dropdown{
    display: none;
    position: absolute;
    top:35px;
    right: 30px;
}

.dropdown-menu{
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 240px;
    top:100%;
    right: 0;
    border: 1px solid var(--main-white);
    border-radius: 8px;
    background: rgba(66, 69, 81, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dropdown-menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-bottom: 0.5px solid var(--main-white);
    list-style: none;
    font-size: var(--main-title-size);
    font-family: var(--main-title-font);
}

.dropdown-menu li:last-child{
    border-bottom: none;
}

.dropdown-menu li a{
    height: 10px;
    color: var(--main-white);
    text-decoration: none;
}

.dropdown-menu li a:hover{
    color: var(--links-color);
}

.dropdown-menu:hover .dropdown-menu{
    display: block;
}

@media (min-width: 768px) {
    
    .dropdown{
        position: relative;
        display: none;
    }

    .dropdown-menu{
        position: absolute;
        top:100%;
        right: 50px;
        background-color: var(--main-black);
        border: 1px solid var(--second-black);
        display: none;
    }

    .dropdown-menu li{
        padding: 10px;
        border-bottom: 1px solid var(--second-black);
    }

    .dropdown-menu li:last-child{
        border-bottom: none;
    }

    .dropdown-menu li a:hover{
        background-color: var(--main-blue);
    }

    .dropdown-menu:hover .dropdown-menu{
        display: block;
    }
}