
:root{
    --main-white: #FDFEFE;
    --second-yellow: #FFDE81;
    --main--yellow: #FFD357;
    --main-blue: #0B5F96;
    --second-blue: #468BB7;
    --links-color: #81ecec;
    --main-black: #1E2025;
    --second-black: #424551;
    --main-title-font: "Nunito", sans-serif;
    --paragraph-font: "Quicksand", sans-serif;
    --main-title-size: 18px;
    --second-title: 14px;
    --paragraph-size: 12px;
    --span-size: 10px;
  }

.app-header {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 360px;
    height: 100px;
    padding: 5px;
    background-color: transparent;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  .header-logo{
    position: absolute;
    top: 5px;
    justify-self: center;
    width: 100px;
    height: 100px;
  }
  
  .header-logo img{
    width: 90px;
    height: 90px;
  }
  
  .header-menu{
    display: none;
    align-items: center;
    width: 300px;
    height: 50px;
  }
  
  .nav-menu{
      width: 100px;
      height: 50px;
    }
  
    .nav-links {
      text-decoration: none;
      color: var(--paragraph-color);
      font-family: var(--paragraph-font);
      font-weight: bold;
      padding: 0 12px;
      color: white;
    }
    
    .nav-links:hover{
      color: var(--links-color);
    }
  
  .nav-menu--mobile{
    display:flex;
    position: absolute;
    right: 35px;
    top: 35px;
  }
  
  .nav-menu--mobile img{
    width: 50px;
    height: 50px;
  }

  @media (min-width: 768px){
    .app-header{
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        width: 98vw;
        min-width: 98vw;
        height: 100px;
        background-color: transparent;
      }
    
      .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
      }
      
      .header-logo{
        position: relative;
        width: 100px;
        height: 100px;
      }
    
      .header-logo img{
        width: 90px;
        height: 90px;
      }
    
      .header-menu{
        position: relative;
        display: flex;
        align-self: center;
        justify-content: center;
        margin-left: 300px;
        width: 320px;
        height: 50px;
      }
      
      .nav-menu{
        width: 300px;
        height: auto;
        }
      
      .nav-links {
          text-decoration: none;
          color: var(--paragraph-color);
          font-family: var(--paragraph-font);
          font-weight: bold;
          padding: 0 12px;
          color: white;
        }
        
      .nav-links:hover{
          color: var(--links-color);
        }
      
      .nav-menu--mobile{
          display: none;
          position: absolute;
          right: 100px;
        }
        
      .nav-menu--mobile img{
          width: 60px;
          height: 60px;
        }    
  }