.mainEpisodes-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 5%;
  width: 80%;
  height: 100%;
  padding: 30px 15px 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.episodes-title {
  z-index: 1;
  position: relative;
  top: 130px;
  left: 540px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #FFD357;
}

.episodes-wrap {
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 150px;
  height: auto;
  border-radius: 6px;
}

.new-span {
  z-index: 2;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: #81ecec;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgb(66, 69, 81);
}

.episode-image img {
  width: 150px;
  height: auto;
  border-radius: 6px;
}

.episode-name {
  position: relative;
  top: 5px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
  color: #FDFEFE;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

.episode-date {
  position: relative;
  bottom: 3px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
  color: #FDFEFE;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

.episode-topic {
  position: relative;
  top: -15px;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 15px;
  color: #FDFEFE;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

.episodes-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0px;
  width: 800px;
  height: 40px;
  margin-top: 30px;
}

.episodes-button p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 32px;
  background-color: #0B5F96;
  border-radius: 6px;
  color: #FDFEFE;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
}

.episodes-button a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .episodes-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110vh;
    background-color: #1E2025;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  }
  .episodes-title {
    z-index: 1;
    position: relative;
    top: 130px;
    left: 0px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: #FFD357;
  }
  .mainEpisodes-wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    max-width: 868px;
    height: 80%;
    padding: 40px 15px 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .episodes-wrap {
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 200px;
    height: auto;
    border-radius: 6px;
  }
  .new-span {
    z-index: 2;
    position: absolute;
    top: -7px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: #81ecec;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgb(66, 69, 81);
  }
  .episode-image img {
    width: 200px;
    height: auto;
    border-radius: 6px;
  }
  .episode-name {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 30px;
    color: #FDFEFE;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
  }
  .episode-date {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 30px;
    color: #FDFEFE;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
  }
  .episode-topic {
    position: relative;
    top: -15px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 15px;
    color: #FDFEFE;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
  }
  .episodes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    width: 800px;
    height: 40px;
    margin-top: 60px;
  }
  .episodes-button p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 32px;
    background-color: #0B5F96;
    border-radius: 6px;
    color: #FDFEFE;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
  }
  .episodes-button a {
    text-decoration: none;
  }
}/*# sourceMappingURL=episodessection.css.map */