:root{
  --main-white: #FDFEFE;
  --second-yellow: #FFDE81;
  --main--yellow: #FFD357;
  --main-blue: #0B5F96;
  --second-blue: #468BB7;
  --links-color: #81ecec;
  --main-black: #1E2025;
  --second-black: #424551;
  --main-title-font: "Nunito", sans-serif;
  --paragraph-font: "Quicksand", sans-serif;
  --main-title-size: 18px;
  --second-title: 14px;
  --paragraph-size: 12px;
  --span-size: 10px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
}

#root{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px){
  #root{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}